.card {
    max-width: 365px;
    margin: auto;
    padding: 10px;
    /* Material box shadow taken from Codepen:
       https://codepen.io/sdthornton/pen/wBZdXq
    */
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card img {
    width: 120px;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}